@media (min-width: 1200px){
	.container {
	    max-width: 1200px;
	}
}

*{
	line-height: 1.2;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

ul{
	list-style-type: none
}

a{
	text-decoration: none;
	color: inherit;
}

section{
	overflow: hidden;
}

.logo{
	display: inline-block;
	margin-top: 30px;
	margin-left: -2px;
	margin-bottom: 29px;
}

.logo>img{
	width: 102px;
}

.navigation{
	margin-top: 28px;
	vertical-align: top;
	display: inline-block;
}

.navigation__ul{
	justify-content: space-between;
	padding: 0;
}

.navigation_mobile>button{
	display: none;
	cursor: pointer;
}

.navigation__bar{
	float: left;
	border: none;
	line-height: 0.9;
	padding: 1px 8px 3px 8px;
	font-size: 3em;
	color: rgb(225, 225, 225);
	font-weight: 400;
	background-color: rgb(255, 255, 255);
	margin-top: 20px;
}

.navigation__bar>span{
	width: 30px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: 7px auto;
}
	
.navigation__close{
	display: none;
	width: auto !important;
	float: right;
	background-color: transparent;
	font-size: 4em !important;
	line-height: 0.4;
	border: none;
	color: #000;
    margin-top: 25px;
}


.navigation__li{
	padding: 0;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.15em;
	color: rgb(63, 66, 68);
	line-height: 1.2;
	vertical-align: bottom;
	text-align: center;
	font-weight: 500;
}

.navigation__li>a{
	width: 100px;
	height: 45px;
	display: inline-block;
	border-radius: 10px;
	box-sizing: border-box;
	padding-left: 4px;
	padding-top: 16px;
}

.navigation__li>a:hover{
	background-image: -moz-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: 400;
}

@media (max-width: 767px) {
	.navigation{
		margin-top: 0px;
		width: 75px;
	}

	.navigation_mobile{
		margin-left: 0px;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
	}

	.navigation__bar{
		display: block !important;
	}

	.navigation_mobile>ul{
		display: none;
	}

	.navigation__close{
		display: block;
	}

	.navigation_full-page{
		width: 100% !important;
		height: 100% !important;
		background-color: #fff !important;

	}

	.navigation__close_full-page{
		display: inline-block !important;
	}

	.navigation__ul_full-page{
		display: block !important;
		animation: 0.3s linear 0s 1 normal navigation__ul_show;
	}

}

@keyframes navigation__ul_show{
	from{
		opacity: 0
	}
	to{
		opacity: 1
	}
}

.home{
	background-image: -moz-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	min-height: 700px;
	overflow: hidden;
}

.home>a{
	margin: 51px auto
}


.home__title{
	margin-top: 258px;
	text-align: center;
	font-weight: 300;
	font-size: 4.6em;
	color: rgb(255, 255, 255);
}

.link{
	padding: 23px 0;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15em;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	background-image: -moz-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -webkit-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -ms-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	width: 250px;
	height: 70px;
	display: block;
}

.link:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0 12px 26px rgba(0,0,0,0.3);
}

.services{
	min-height: 599px;
}

.services__service{
	margin-top: 85px;
	display: inline-block;
	color: rgb(146, 155, 160);
	line-height: 1.2;
	text-align: center;
}

.services__service>h2{
	margin-top: 25px;
	margin-bottom: 41px;
	text-transform: uppercase;
	font-size: 15px;
	color: rgb(63, 66, 68);
}

.services__service:nth-child(4){
	margin-right: 0;
}

.services__link{
	margin: 86px auto 82px auto;
}

.browser{
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center 114.3%;
	background-image: url('../img/browser.png'), -moz-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: url('../img/browser.png'), -webkit-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: url('../img/browser.png'), -ms-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	min-height: 720px;
}

.description{
	text-align: center;
	color: rgb(255, 255, 255);
	max-width: 776px;
	margin: 32px auto;
}

.description_color_gray{
	color: rgb(146, 155, 160);
}

.title{
	text-align: center;
	margin-top: 83px;
	font-size: 3.1em;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.title_color_black{
	color: rgb(63, 66, 68);
}

.phone__img{
	margin: 68px 0;
}

.phone__title{
	color: rgb(63, 66, 68);
	text-align: left;
	margin: 0px 5px 45px;
}

.phone__description{
	font-weight: 300;
	color: rgb(146, 155, 160);
	text-align: left;
	font-size: 1.15em;
}

.phone__link{
	margin-top: 60px;
	margin-bottom: 82px;
}

@media (min-width: 992px){
	.phone__img{
		float: right;
		margin-right: 81px;
	}
}

@media (min-width: 768px) {
	.phone__title{
		margin-top: 139px;
	}

	.phone__link{
		margin-left: 2px !important;
	}

}

.portfolio{
	overflow: hidden;
	background-image: -moz-linear-gradient( -73.971deg, rgb(93,239,201) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -73.971deg, rgb(93,239,201) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -73.971deg, rgb(93,239,201) , rgb(63,210,206) 99%);
	min-height: 1300px;
}

.directory{
	margin-top: 97px;
}

.directory__select{
	margin: 97px auto 30px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 554px;
}

.directory__li{
	text-align: center;
	font-size: 1.15em;
	display: block;
	font-weight: 700;
	cursor: pointer;
	color: rgb(63, 66, 68);
	margin: 10px 0;
}

.directory__li_selected{
	color: rgb(255, 255, 255);
}



.directory__item{
	background-color: #232e3d;
	height: 370px;
	overflow: hidden;
	margin-bottom: 31px;
}

.directory__item>div:first-child{
	height: 241px;
	overflow: hidden;
}

.directory__item>div:first-child>img{
	width: inherit;
	height: auto;
}

.directory__item>div:last-child{
	background-color: rgb(255, 255, 255);
	height: 129px;
	overflow: hidden;
}

.directory__item>div:last-child>h3{
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 19px;
	text-align: center;
	font-size: 0.96rem;
}

.directory__item>div:last-child>p{
	color: rgb(146, 155, 160);
	margin: 0 auto;
	max-width: 220px;
	text-align: center;
	font-size: 0.79rem;
}

@media (max-width: 575.98px) {
	.directory__select{
		display: block;
	}

 	.directory__item>div:last-child>p{
		margin: 10px auto;
		max-width: none;
	}
} 

.directory__arrow{
	overflow: hidden;
	background-color: transparent;
	border: none;
	margin: 25px auto;
	display: block;
	width: 45px;
	height: 45px;
	padding: 0;
}

.stats{
  background-color: rgb(35, 53, 55);
  min-height: 340px;
}

.stats__icon{
	margin: 86px 0px 10px 0px;
	overflow: hidden;
	height: 70px;
	text-align: center;
}

.stats__number{
	font-size: 2.5rem;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 21px;
	margin-bottom: 14px;
}

.stats__description{
	color: rgb(16, 202, 183);
	text-align: center;
	margin-bottom: 86px;
}

.team__man{
	margin-top: 53px;
	margin-bottom: 56px;
}

.team__man>div:first-child{
	background-color: rgb(35, 46, 61);
	height: 200px;
}

.team__man>div:first-child>img{
	width: inherit;
	height: auto;
}

.team__man>div:last-child{
	overflow: hidden;
	background-image: -moz-linear-gradient( -64.093deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -64.093deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -64.093deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	height: 190px;
}

.team__man>div:last-child>h3{
	font-weight: 700;
	font-size: 20px;
	color: rgb(63, 66, 68);
	text-align: center;
	margin-top: 29px;
	margin-bottom: 5px;
}

.team__man>div:last-child>p{
	color: rgb(255, 255, 255);
	text-align: center;
}

.team__man>div:last-child>p:last-child{
	color: rgb(63, 66, 68);
	text-align: center;
	font-size: 0.95rem;
	margin-top: 27px;
	padding: 0px 20px;
}

.quotes{
	background-image: -moz-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -webkit-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -ms-linear-gradient( -89.706deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	min-height: 370px;
}

.quotes__icon{
	margin: 97px auto 10px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color: rgb(35,53,55);
	text-align: center;
	padding-top: 8px;
	padding-left: 3px;
}

.quotes__slider{
	overflow: hidden;
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}

.quotes__slider-wrapper{
	position: relative;
	width: 2100px;
	font-size: 0px;
}

.quotes__slide{
	vertical-align: middle;
	display: inline-block;
	width: 700px;
	max-width: 700px;
}

.quotes__text{
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 1.25rem;
	margin: 1px 50px 10px;
}

.quotes__author{
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 0.8rem;
}

.quotes__navigation{
	width: 94px;
	margin: 32px auto 131px;
}

.quotes__navigation>button{
	border: none;
	background-color: transparent;
	padding: 0;
}

.quotes__navigation>button:first-child{
	float: left;
}

.quotes__navigation>button:last-child{
	float: right;
	transform: rotate(180deg);
}

@media (max-width: 767.98px){
	.quotes__slider{
		max-width: 400px;
	}

	.quotes__slider-wrapper{
		width: 1200px;
	}

	.quotes__slide{
		width: 400px;
		max-width: 400px;
	}
}

@media (max-width: 575.98px){
	.quotes__slider{
		max-width: 280px;
	}

	.quotes__slider-wrapper{
		width: 840px;
	}

	.quotes__slide{
		width: 280px;
		max-width: 280px;
	}

	.quotes__text{
		margin: 1px 10px 10px;
	}
}


.newsletter{
	background-color: rgb(35, 53, 55);
	min-height: 300px;
}

.newsletter>p {
	text-align: center;
	margin-top: 88px;
	margin-bottom: 10px;
	font-size: 1.25rem;
	color: rgb(255, 255, 255);
}

.newsletter>a{
	border: 1px solid rgb(77,224,204);
	text-align: center;
	display: block;
	margin: 42px auto 10px;
	color: rgb(255, 255, 255);
	width: 170px;
	height: 50px;
	padding: 12px 0px;
}

.newsletter>a:hover{
	text-decoration: none;
	color: #fff;
}


.about{
	padding: 95px 0;
}

.about__title{
	font-size: 1.25rem;
	color: rgb(63, 66, 68);
	margin: 34px 10px 38px 37px;
}

.about__description{
	font-size: 0.79rem;
	color: rgb(146, 155, 160);
	margin: 18px 18px 18px 30px;
}

.design{
	padding: 42px 0;
	background-image: -moz-linear-gradient( -76.044deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -76.044deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -76.044deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	min-height: 530px;
}

.design__title{
	font-size: 1.55rem;
	color: rgb(255, 255, 255);
	margin-top: 163px;
	margin-bottom: 22px;
}

.design__title>span{
	font-size: 0.95rem;
	color: rgb(36, 54, 56);
	font-weight: 700;
}

.design__description {
	font-size: 0.79rem;
	color: rgb(255, 255, 255);
}


@media (max-width: 767.98px){
	.design__title{
		margin-top: 20px;
		text-align: center;
	}
}

.clients{
	padding-bottom: 62px;
}

.clients__client{
	overflow: hidden;
	background-image: -moz-linear-gradient( -66.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -66.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -66.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	height: 220px;
	margin-top: 74px;
}

.clients__client>h3{
	text-align: center;
	font-size: 1.25rem;
	color: rgb(255, 255, 255);
	margin-top: 40px;
}

.clients__client>h3>span{
	margin-top: 10px;
	font-size: 0.79rem;
	color: rgb(36, 54, 56);
	vertical-align: bottom;
}

.clients__client>p{
	text-align: center;
	font-size: 0.79rem;
	color: rgb(255, 255, 255);
	margin: 27px 26px 27px;
}

.contact {
	background-image: -moz-linear-gradient( -84.202deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -webkit-linear-gradient( -84.202deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -ms-linear-gradient( -84.202deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	min-height: 657px;
}

.contact__input{
	background-color: transparent;
	border: 1px solid rgb(255,255,255);
	width: 100%;
	height: 50px;
	margin-top: 66px;
	color: rgb(255,255,255);
	font-size: 0.95rem;
	padding: 10px 28px;
}

.contact__textarea{
	background-color: transparent;
	border: 1px solid rgb(255,255,255);
	width: 100%;
	height: 50px;
	margin-top: 88px;
	color: rgb(255,255,255);
	font-size: 0.95rem;
	padding: 15px 28px;
}

.contact__input::placeholder, .contact__textarea::placeholder{
	color: rgb(255,255,255);
	opacity: 1;
}

.contact__submit{
	border: none;
	background-color: rgb(35,53,55);
	width: 100%;
	height: 50px;
	margin-top: 36px;
	color: rgb(255,255,255);
	font-size: 0.95rem;
	margin-bottom: 90px;
}

@media (max-width: 767.98px){
	.contact__input{
		margin: 20px 0;
	}

	.contact__textarea{
		margin: 20px 0;
	}
}

.map{
	background-color: rgb(35, 46, 61);
	min-height: 400px;
}

.map__address {
	background-image: -moz-linear-gradient( -65.026deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -65.026deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -65.026deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	width: 100%;
	min-height: 170px;
	margin-top: 113px;
	font-size: 0.95rem;
	color: rgb(255,255,255);
	padding: 15px 56px;
	line-height: 2.87;
	overflow: hidden;
}

.footer {
	background-color: rgb(35, 53, 55);
	height: 110px;
	padding: 42px 0px;
}

.footer__right{
	margin: 0 10px;
	font-size: 0.95rem;
	color: rgb(255, 255, 255);
	text-align: center;
}

.footer__right>span{
	color: rgb(12,202,183);
}