.map-svg>path{
	transform-origin: 330px 107px 0;
}


.map-svg{
	max-width: 320px;
	display: block;
	margin: 0 auto;
	width: 64%;
	height: auto;
	overflow: hidden;
}

.map-svg__select{
	fill: #ed788d
}

.map-svg__select:hover{
	transform: scale(1.02);
	transition: transform 0.5s ease, fill 0.5s ease;
	fill: #ec4967;
}

.popup-map{
	opacity: 0;
	position: absolute;
	background-color: #fff;
	transition: opacity 0.5s ease;
}

.popup-map__text{
	margin: 1px;
}

.map-europe{
	width: 100%
}

.map-europe__map{
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}


@media (min-width: 768px) {
	.map-svg{
		max-width: auto;
	}
}

@media (min-width: 1200px) {
	.map-svg{
		margin-top: 30px;
	}
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  .map-svg{
  	height: 320px;
  }
}

.delivery{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.delivery__wrapper{
	display: inline-block;
	width: 98%
}

.delivery__price{
	font-size: 47px;
	color: #ed788d;
	text-align: center;
	margin-top: 57px;
}

.delivery__conditions{
	color: #a0a0a0;
	text-align: center;
	margin-top: 51px;
	font-weight: bolder;
	font-size: 15px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	min-height: 55px;
	width: 58%
}

.delivery__pink{
	color: #ed788d;
	font-size: 1.1em;
}

.delivery__logo{
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.delivery__logo>img{
	width: 100px;
	vertical-align: middle;
}

.germany-map{
	display: inline-block;
	width: 98%;
}

.germany-map>img{
	max-width: 200px;
	width: 60.5%;
	height: auto;
	margin: 31px auto;
	display: block;
}

.line{
	position: relative;
	width: 1px;
	overflow: hidden;
	display: inline-block;
	float: right;
	height: 350px;
}

.line>span{
	position: absolute;
	top: 50%;
	display: block;
	background-color: rgba(168,168,168,1);
	box-shadow: 0 0 113px 50px rgba(168,168,168,1);
}

.line_horizontal{
	min-height: 1px;
	height: 1px;
	width: 100%;
}

.line_horizontal>span{
	width: 20%;
	margin: 0 auto;
	position: static;
}

.line_height-big{
	height: 482px;
}


@media (min-width: 768px) {
	
	.line_vertical-sm{
		width: 1px;
		height: 350px !important; 
	}

	.line_vertical-sm>span{ 
		position: absolute;
		top: 50%;
	}

	.line_horizontal-sm{
		min-height: 1px;
		width: 100%;
	}

	.line_horizontal-sm>span{
		width: 50%;
		margin: 0 auto;
		position: static;
	}
}

@media (min-width: 992px) {

	.line_vertical-md{
		width: 1px;
		height: 350px !important; 
	}

	.line_vertical-md>span{ 
		position: absolute;
		top: 50%;
	}

	.line_horizontal-md{
		height: 1px !important;
		width: 100%;
	}

	.line_horizontal-md>span{
		width: 20%;
		margin: 0 auto;
		position: static;
	}
}

@media (min-width: 1200px) {

	.line_vertical-lg{
		width: 1px;
		height: 282px  !important; 
	}

	.line_vertical-lg>span{ 
		position: absolute;
		top: 50%;
	}


	.line_horizontal-lg{
		height: 1px  !important; 
		width: 100%;
	}

	.line_horizontal-ld>span{
		width: 20%;
		margin: 0 auto;
		position: static;
	}
}

.delivery-col{
	margin-bottom: 30px;
	margin-top: 30px;
}

.delivery-col_big>.delivery{
	position: relative;
}

.delivery-col_big>.delivery>.delivery__wrapper{
	position: relative;
	top: 50%;
	margin-top: -117px;
}
.delivery-col_big>.delivery>.delivery__wrapper>.delivery__logo>img{
	width: 164px;
	margin-top: 40px;
}


.delivery-col_big{
	height: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.display-none{
	display: none;
}


@media (min-width: 768px) {
	.delivery-col_big{
		height: 482px;
	}


	.delivery-col{
		height: 350px;
	}

	.display-sm-none{
		display: none;
	}

	.display-sm-block{
		display: block;
	}
}

@media (min-width: 992px) {
	.delivery-col{
		height: 350px;
	}

	.display-md-none{
		display: none;
	}

	.display-md-block{
		display: block;
	}
}

@media (min-width: 1200px) {
	.delivery-col{
		height: 282px;
		margin-top: 0;
		margin-bottom: 52px;
	}

	.display-lg-none{
		display: none;
	}

	.display-lg-block{
		display: block;
	}
}