@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  src: url(CenturyGothic.ttf); }

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
  background: #0D1321;
  color: #E7E7E9; }

* {
  box-sizing: border-box; }

.button {
  color: rgba(231, 231, 233, 0.4);
  border: solid 1px rgba(231, 231, 233, 0.4);
  border-radius: 4px;
  font-family: "Century Gothic";
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  background: none;
  padding: 9px 20px;
  transition: background-color 300ms;
  cursor: pointer;
  display: inline-block; }
  .button_view_buy {
    width: 160px;
    color: #FFBA49;
    border: solid 1px #FFBA49;
    background: rgba(255, 186, 73, 0.4);
    box-shadow: 0px 0px 20px rgba(255, 186, 73, 0.6); }
    .button_view_buy:hover {
      background: rgba(255, 186, 73, 0.6); }

.checkbox {
  font-family: "Century Gothic";
  height: 30px;
  display: inline-block; }
  .checkbox_size_s {
    height: 30px; }
  .checkbox_size_m {
    height: 40px; }
  .checkbox__button {
    flex: 1;
    text-align: center;
    color: #E7E7E9;
    border: solid 1px #E7E7E9;
    font-size: 13px;
    line-height: 20px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 300ms, box-shadow 300ms, background-color 300ms;
    background: transparent;
    box-shadow: 0px 0px 20px transparent;
    border-radius: 3px; }
    .checkbox__button:hover {
      opacity: 0.6; }
  .checkbox__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
  .checkbox__input:checked + .checkbox__button {
    opacity: 1;
    background: rgba(231, 231, 233, 0.4);
    box-shadow: 0px 0px 20px rgba(231, 231, 233, 0.2); }

.header {
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-between;
  background: #0D1321; }
  .header__logo {
    display: flex;
    transform: translateY(4px); }

.image-box {
  position: relative;
  display: flex;
  z-index: 0; }
  .image-box__img {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1; }
  .image-box__shadow {
    position: absolute;
    background: linear-gradient(90deg, #0D1321 0%, transparent 30%), linear-gradient(-90deg, #0D1321 0%, transparent 30%), linear-gradient(180deg, #0D1321 0%, transparent 40px), linear-gradient(0deg, #0D1321 0%, transparent 40px), rgba(13, 19, 33, 0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2; }
    .image-box__shadow_person {
      background: linear-gradient(90deg, #0D1321 20px, transparent 90px), linear-gradient(-90deg, #0D1321 20px, transparent 90px), linear-gradient(180deg, #0D1321 10px, transparent 80px), linear-gradient(0deg, #0D1321 10px, transparent 80px), rgba(13, 19, 33, 0.2);
      z-index: 0; }
  .image-box__line {
    position: absolute;
    background: linear-gradient(90deg, transparent 10px, rgba(231, 231, 233, 0.1) 20% calc(35% - 50px), transparent calc(50% - 15px) calc(50% + 15px), rgba(231, 231, 233, 0.1) calc(65% + 50px) 80%, transparent calc(100% - 10px));
    height: 1px;
    display: block;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 3; }
    .image-box__line_bottom {
      top: auto;
      bottom: 10px; }
  .image-box__frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 2px;
    top: 3px;
    background: rgba(231, 231, 233, 0.1);
    height: 14px;
    width: 14px;
    z-index: 3;
    display: block; }
    .image-box__frame::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: rgba(231, 231, 233, 0.1);
      border-radius: 1px;
      height: 7px;
      width: 7px; }
    .image-box__frame_bottom {
      top: auto;
      bottom: 3px; }

.footer {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: auto; }
  .footer__content {
    padding: 66px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__rights {
    margin: 0 20px;
    max-width: 560px;
    flex: 1;
    font-family: "Century Gothic";
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    opacity: 0.2; }

.line {
  display: block;
  height: 1px;
  background: linear-gradient(90deg, transparent 0%, rgba(231, 231, 233, 0.1) 50%, transparent 100%); }

.link {
  text-decoration: none;
  color: #E7E7E9;
  transition: color 300ms; }
  .link:visited {
    color: #E7E7E9; }
  .link:hover {
    color: #FFBA49; }

.logo {
  height: 64px;
  width: auto; }

@charset "UTF-8";
.list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .list__item::before {
    content: '• ';
    color: #FFBA49; }

.mythic-card {
  display: flex;
  font-weight: 300;
  align-items: flex-start; }
  .mythic-card + .mythic-card {
    margin-top: 60px; }
  .mythic-card__title {
    font-weight: 300;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #E7E7E9; }
  .mythic-card__controls {
    margin-top: 30px;
    margin-left: 40px;
    flex-basis: 360px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 260px; }
  .mythic-card__control {
    width: calc(50% - 10px);
    margin-top: 20px; }
  .mythic-card__radio {
    width: 100%;
    margin-top: 20px; }
  .mythic-card__content {
    margin-top: 0; }
  .mythic-card__desc-title {
    font-weight: 300;
    margin-top: 20px;
    color: #FFBA49;
    margin-bottom: 0; }
  .mythic-card__desc {
    flex: 2;
    margin-left: 40px; }
  .mythic-card__image {
    flex-basis: 260px;
    background: rgba(231, 231, 233, 0.1); }
  .mythic-card__settings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .mythic-card__buy-wrapper {
    margin-top: 50px;
    margin-left: auto;
    display: flex;
    align-self: flex-end;
    align-items: flex-end; }
  .mythic-card__price {
    margin-right: 30px; }

.nav__list {
  list-style: none;
  display: flex;
  padding: 0; }

.nav__item {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; }
  .nav__item + .nav__item {
    margin-left: 40px; }

.page-content {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 1160px; }

.main {
  margin-bottom: 120px; }

.payments__item + .payments__item {
  margin-left: 20px; }

.price {
  font-weight: 300; }
  .price__title {
    font-size: 13px;
    line-height: 20px; }
  .price__value {
    font-size: 26px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFBA49; }

.radio-buttons {
  display: flex;
  align-items: center;
  font-family: "Century Gothic";
  height: 30px; }
  .radio-buttons_size_s {
    height: 30px; }
  .radio-buttons_size_m {
    height: 40px; }
  .radio-buttons__label {
    flex: 1;
    text-align: center;
    color: #E7E7E9;
    border: solid 1px #E7E7E9;
    border-right: none;
    font-size: 13px;
    line-height: 20px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 300ms, box-shadow 300ms, background-color 300ms;
    background: transparent;
    box-shadow: 0px 0px 20px transparent; }
    .radio-buttons__label:first-of-type {
      border-radius: 3px 0px 0px 3px; }
    .radio-buttons__label:last-of-type {
      border-radius: 0px 3px 3px 0px;
      border: solid 1px #E7E7E9; }
    .radio-buttons__label:hover {
      opacity: 0.6;
      border-right: 1px solid #E7E7E9; }
  .radio-buttons__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
  .radio-buttons__label:hover + .radio-buttons__input + .radio-buttons__label {
    border-left: none; }
  .radio-buttons__input:checked + .radio-buttons__label {
    opacity: 1;
    background: rgba(231, 231, 233, 0.4);
    box-shadow: 0px 0px 20px rgba(231, 231, 233, 0.2);
    border: solid 1px #E7E7E9; }
  .radio-buttons__input:checked + .radio-buttons__label + .radio-buttons__input + .radio-buttons__label {
    border-left: none; }

.section {
  margin-top: 120px; }
  .section__header {
    margin: 0;
    display: flex;
    align-items: center; }
  .section__content {
    margin-top: 60px; }
  .section__title {
    position: relative;
    color: #E7E7E9;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    padding: 22px; }
    .section__title:after, .section__title:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(90deg, transparent 0%, rgba(231, 231, 233, 0.1) 50%, transparent 100%); }
    .section__title:after {
      bottom: 0; }
    .section__title:before {
      top: 0; }
  .section__line {
    flex: 1; }

.region {
  width: 160px; }

.services {
  display: flex;
  flex-wrap: wrap; }
  .services__item {
    flex-basis: calc(50% - 20px);
    height: 280px;
    margin-top: 40px; }
    .services__item_first-line {
      margin-top: 0; }
    .services__item:nth-child(2n) {
      margin-left: 40px; }
  @media (max-width: 768px) {
    .services {
      display: block; }
      .services__item_first-line {
        margin-top: 40px; }
      .services__item:nth-child(2n) {
        margin-left: 0; } }

.service {
  position: relative; }
  .service__buy {
    position: absolute;
    bottom: 40px;
    left: 40px;
    text-transform: none; }
  .service__content {
    position: relative;
    height: 100%;
    padding: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #E7E7E9; }
  .service__img-box {
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; }
  .service__img {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 100%;
    position: absolute; }

.social-section {
  display: flex;
  justify-content: center; }
  .social-section__item + .social-section__item {
    margin-left: 30px; }

.slider {
  position: relative; }
  .slider__content {
    position: absolute;
    padding: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .slider__text {
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    width: 260px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase; }

.social-media {
  display: flex;
  width: 260px;
  height: 60px; }
  .social-media__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(231, 231, 233, 0.4);
    border-right: none;
    height: 60px;
    line-height: 60px;
    flex-basis: 60px;
    border-radius: 4px 0 0 4px; }
  .social-media__name {
    flex: 1;
    color: #E7E7E9;
    border: 1px solid rgba(231, 231, 233, 0.4);
    border-right: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    padding: 14px 10px;
    text-align: center; }
  .social-media__copy {
    flex-basis: 60px;
    padding: 14px 10px;
    font-family: "Century Gothic";
    font-size: 13px;
    line-height: 20px;
    background: transparent;
    color: rgba(231, 231, 233, 0.4);
    border: 1px solid rgba(231, 231, 233, 0.4);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    box-shadow: 0px 0px 20px transparent;
    transition: border 300ms, color 300ms, box-shadow 300ms, background-color 300ms; }
    .social-media__copy:hover {
      color: rgba(231, 231, 233, 0.6);
      border: 1px solid rgba(231, 231, 233, 0.6); }
    .social-media__copy:active {
      color: #e7e7e9;
      border: 1px solid #e7e7e9;
      box-shadow: 0px 0px 20px rgba(231, 231, 233, 0.2);
      background: rgba(231, 231, 233, 0.4); }
    .social-media__copy:focus {
      outline: none; }

.steps {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0; }
  .steps__item {
    max-width: 321px;
    flex-basis: calc(33.3% - 13px); }
    .steps__item + .steps__item {
      margin-left: 20px; }
  @media (max-width: 768px) {
    .steps {
      display: block; }
      .steps__item {
        max-width: none;
        margin-top: 40px; }
        .steps__item + .steps__item {
          margin-left: 0; } }

.step {
  text-align: center; }
  .step__icon-wrapper {
    position: relative;
    margin: 0 auto;
    height: 160px;
    width: 160px; }
    .step__icon-wrapper::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-radius: 16px;
      height: 113px;
      width: 113px;
      background: rgba(231, 231, 233, 0.1); }
    .step__icon-wrapper::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-radius: 16px;
      height: 84px;
      width: 84px;
      background: rgba(231, 231, 233, 0.1); }
  .step__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .step__title {
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #E7E7E9;
    text-transform: uppercase; }
  .step__desc {
    font-family: "Century Gothic";
    margin-top: 20px;
    font-weight: 300;
    color: #E7E7E9;
    opacity: 0.5; }

.title {
  position: relative; }
  .title__content {
    position: absolute;
    font-weight: 300;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    padding: 100px 200px;
    width: 100%;
    margin: 0; }
  .title__text {
    color: #FFBA49; }
