@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(Oswald-VariableFont_wght.ttf); }

@font-face {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 400;
  src: url(CenturyGothic.ttf); }

html,
body {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
  background: #0D1321;
  color: #E7E7E9; }

* {
  box-sizing: border-box; }

.button {
  color: #E7E7E9;
  border: solid 1px #E7E7E9;
  border-radius: 4px;
  font-family: "Century Gothic";
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  background: none;
  padding: 10px 20px;
  transition: background-color 300ms;
  cursor: pointer;
  display: inline-block; }
  .button_view_buy {
    width: 160px;
    color: #FFBA49;
    border: solid 1px #FFBA49;
    background: rgba(255, 186, 73, 0.4);
    box-shadow: 0px 0px 20px rgba(255, 186, 73, 0.6); }
    .button_view_buy:hover {
      background: rgba(255, 186, 73, 0.6); }

.image-box {
  position: relative;
  display: flex; }
  .image-box__img {
    height: auto;
    width: 100%; }
  .image-box__shadow {
    position: absolute;
    background: linear-gradient(90deg, #0D1321 0%, rgba(13, 19, 33, 0) 30%), linear-gradient(-90deg, #0D1321 0%, rgba(13, 19, 33, 0) 30%), linear-gradient(180deg, #0D1321 0%, rgba(13, 19, 33, 0) 40px), linear-gradient(0deg, #0D1321 0%, rgba(13, 19, 33, 0) 40px), rgba(13, 19, 33, 0.2);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
  .image-box__line {
    position: absolute;
    background: linear-gradient(90deg, transparent 10px, rgba(231, 231, 233, 0.1) 20% calc(35% - 50px), transparent calc(50% - 15px) calc(50% + 15px), rgba(231, 231, 233, 0.1) calc(65% + 50px) 80%, transparent calc(100% - 10px));
    height: 1px;
    display: block;
    top: 10px;
    right: 0;
    left: 0; }
    .image-box__line_bottom {
      top: auto;
      bottom: 10px; }
  .image-box__frame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border-radius: 2px;
    top: 3px;
    background: rgba(231, 231, 233, 0.1);
    height: 14px;
    width: 14px;
    z-index: 1;
    display: block; }
    .image-box__frame::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: rgba(231, 231, 233, 0.1);
      border-radius: 1px;
      height: 7px;
      width: 7px; }
    .image-box__frame_bottom {
      top: auto;
      bottom: 3px; }

.link {
  text-decoration: none;
  color: #E7E7E9;
  transition: color 300ms; }
  .link:visited {
    color: #E7E7E9; }
  .link:hover {
    color: #FFBA49; }

.logo {
  height: 60px;
  width: auto; }

.main {
  margin-top: 100px; }

.page-content {
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 40px);
  max-width: 1160px; }

.nav__list {
  list-style: none;
  display: flex;
  padding: 0; }

.nav__item {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px; }
  .nav__item + .nav__item {
    margin-left: 40px; }

.radio-buttons {
  display: flex;
  align-items: center;
  font-family: "Century Gothic"; }
  .radio-buttons__label {
    flex: 1;
    text-align: center;
    color: #E7E7E9;
    border: solid 1px #E7E7E9;
    border-right: none;
    font-size: 13px;
    line-height: 20px;
    padding: 4px 12px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 300ms, box-shadow 300ms, background-color 300ms;
    background: transparent;
    box-shadow: 0px 0px 20px transparent; }
    .radio-buttons__label:hover {
      opacity: 0.6; }
    .radio-buttons__label:first-of-type {
      border-radius: 3px 0px 0px 3px; }
    .radio-buttons__label:last-of-type {
      border-radius: 0px 3px 3px 0px;
      border: solid 1px #E7E7E9; }
  .radio-buttons__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px; }
  .radio-buttons__input:checked + .radio-buttons__label {
    opacity: 1;
    background: rgba(231, 231, 233, 0.4);
    box-shadow: 0px 0px 20px rgba(231, 231, 233, 0.2);
    border: solid 1px #E7E7E9; }
  .radio-buttons__input:checked + .radio-buttons__label + .radio-buttons__input + .radio-buttons__label {
    border-left: none; }

.region {
  width: 160px; }

.services {
  display: flex;
  flex-wrap: wrap; }
  .services__item {
    flex-basis: calc(50% - 20px);
    height: 280px;
    margin-top: 40px; }
    .services__item_first-line {
      margin-top: 0; }
    .services__item:nth-child(2n) {
      margin-left: 40px; }
  @media (max-width: 768px) {
    .services {
      display: block; }
      .services__item_first-line {
        margin-top: 0; }
      .services__item:nth-child(2n) {
        margin-left: 0; } }

.service {
  position: relative; }
  .service__buy {
    position: absolute;
    bottom: 40px;
    left: 40px;
    text-transform: none; }
  .service__content {
    position: relative;
    height: 100%;
    padding: 40px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #E7E7E9; }
  .service__img-box {
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute; }
  .service__img {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    min-width: 100%;
    position: absolute; }

.header {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 50;
  transform: translateX(-50%);
  background: #0D1321; }

.section {
  margin-top: 120px; }
  .section__header {
    display: flex;
    align-items: center; }
  .section__content {
    margin-top: 60px; }
  .section__title {
    position: relative;
    color: #E7E7E9;
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    padding: 22px; }
    .section__title:after, .section__title:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      height: 1px;
      background: linear-gradient(90deg, transparent 0%, rgba(231, 231, 233, 0.1) 50%, transparent 100%); }
    .section__title:after {
      bottom: 0; }
    .section__title:before {
      top: 0; }
  .section__line {
    flex: 1;
    height: 1px;
    background: linear-gradient(90deg, transparent 0%, rgba(231, 231, 233, 0.1) 50%, transparent 100%); }

.slider {
  position: relative; }
  .slider__content {
    position: absolute;
    padding: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .slider__text {
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    width: 260px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase; }
