body{
	padding: 0;
	margin: 0;
}

*{
	box-sizing: border-box;
}

.slider{
	overflow: hidden;
	margin-top: 100px;
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 1;
}

.slider__view{
	margin: 0 auto;
	width: 75%;
	position: relative;
	font-size: 0px;
	background-color: #3fcabd;
	perspective: 1000px;
	perspective-origin: center center;
	text-align: center;
	line-height: 600px;
}



.slider__navigation{
	position: absolute;
	width: 100%;
	top: 39%;
	z-index: -1;
}

.slider__navigation>button{
	border: none;
	background-color: #ffffff;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	color: #f3c362;
	padding: 3px;
	margin-top: 20px;
	border-radius: 50%;
	transition: color 0.2s, background-color 0.1s;
	border: 1px solid #f3c362;
}

.slider__navigation>button:active, .slider__navigation>button:focus{
	outline: none;
}

.slider__navigation>button:active{
	background-color: #f3c362;
	color: #ffffff;
}

.slider__navigation>button:first-child{
	float: left;
}

.slider__navigation>button:last-child{
	float: right;
}


.slider__wrapper{
	display: inline-block;
	vertical-align: middle;
	transform-style: preserve-3d;
	height: 100px;
	width: 30%;
	transform: rotateY(0deg);
	transition: transform 0.3s;
}

.slider__slide{
	border-radius: 20px;
	line-height: initial;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #ffffff;
	transform: translateZ(200px);
	font-size: 15px;
	padding: 15px;
	box-sizing: border-box;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.3);
}

.yellow{
	font-size: 20px;
	border-radius: 10px;
	color: #ffffff;
	background-color: #f3c362;
	height: 100%;
	padding: 20px;
}