*{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.logo{
	box-sizing: border-box;
	cursor: pointer;
	padding: 0.2em 1em;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 0.33em;
	transition: box-shadow 0.3s;
	font-weight: 300;
	margin: 10px;
}

/*.logo:hover{
	box-shadow: inset -0.05em 0px 0px 0px rgb(30, 144, 255), inset 0.05em 0px 0px 0px rgb(30, 144, 255);
}
*/
/*.logo:hover{
	background-color: rgb(30, 144, 255);
}
*/
.logo>span:hover>span{
	transform: rotateY(360deg);
	color: #ffffff;
	background-color: rgb(30, 144, 255);
}

.logo>span>span{
	border-radius: 0.15em;
	transform-origin: center 0.65em;
	color: rgb(30, 144, 255);
	display: inline-block;
	transition: transform 0.3s, color 0.3s, background-color 0.3s;
	padding: 1px;
}

.logo>span{
	display: inline-block;
	perspective: 1.5em;
}


/*rgb(30, 144, 255)*/
/*2f8dff*/