*{
	margin: 0;
	padding: 0;
	font-family: "Ubuntu";
}

ul{
	list-style-type: none
}

a{
	text-decoration: none;
	color: inherit;
}


.width-wrapper{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	position: relative;
	width: 100%;
	z-index: 10;
	background-color: rgb(100, 140, 255);
}

.logo>h1{
	display: inline-block;
	font-size: 1.5em;
	margin-left: 2px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3.8;
	text-align: left;
}

.logo_color_orange{
	color: #fc6a42;
}

.logo_color_blue{
	color: #648cff;
}

.navigation{
	display: inline-block;
	margin-left: 152px;
	z-index: 1;
}

.navigation_mobile>button{
	display: none;
}

.navigation__bar{
	float: left;
	border: none;
	line-height: 0.9;
	padding: 1px 8px 3px 8px;
	font-size: 3em;
	color: rgb(225, 225, 225);
	font-weight: 700;
	background-color: rgb(100, 140, 255);
}
	
.navigation__close{
	display: none;
	width: auto !important;
	float: right;
	background-color: transparent;
	font-size: 4em !important;
	line-height: 0.4;
	border: none;
	color: rgb(255, 255, 255);
	margin-right: 4px;
    margin-top: 7px;
}



.navigation__li:nth-child(1) {
	margin-right: 75px;
}

.navigation__li:nth-child(2) {
	margin-right: 102px;
}

.navigation__li:nth-child(3) {
	margin-right: 84px;
}

.navigation__li{
	display: inline-block;
	font-size: 1.15em;
	color: rgb(225, 225, 225);
	line-height: 1.2;
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 2px;
	font-weight: 300;
}

.navigation__li_selected{
	color: rgb(255, 255, 255);
}

.social-links{
	display: inline-block;
	vertical-align: top;
	margin-top: 33px;
	margin-left: 145px;
}

.social-links>a:nth-child(2) {
	margin-left: 39px;
}

.social-links>a:nth-child(3) {
	position: relative;
	left: 30px;
	top: -2px;
}


.first-screen{
	position: relative;
	top: -91px;
	background-image: url(firstscreen.png);
	background-repeat:no-repeat;
	background-position: center;
	height: 959px;
}

.first-screen__description{
	vertical-align: top;
	margin-top: 288px;
	max-width: 500px;
	display: inline-block;
}

.first-screen__description>h2{
	font-size: 3.76em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.first-screen__description>p{
	max-width: 449px;
	font-size: 1.129em;
	color: rgb(255, 255, 255);
	line-height: 1.667;
	margin-top: 31px;
	margin-left: 1px;
}

.first-screen__description>a{
	display: inline-block;
	font-size: 1.125em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	vertical-align: top;
	box-sizing: border-box;
	margin-top: 55px;
	padding: 15px 0;
	width: 158px;
	height: 52px;
	border-radius: 5px;
}

.first-screen__description>a:nth-child(3) {
	background-color: rgb(252, 106, 66);
	margin-left: 1px;
}

.first-screen__description>a:nth-child(4) {
	background-color: rgb(68, 102, 201);
	margin-left: 9px;
}



.first-screen__phone{
	margin-left: 54px;
	vertical-align: top;
	margin-top: 204px;
	display: inline-block;
	position: relative;
}

.first-screen__phone>img{
	margin-left: 34px;
}


.first-screen__sunny {
	display: inline-block;
	vertical-align: top;
	margin-top: 295px;
	border-radius: 50%;
	background-color: rgb(252, 106, 66);
	width: 90px;
	height: 90px;
	font-size: 1.13em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4.9;
	letter-spacing: -0.05em;
	text-align: center;
}

.first-screen__degree{
	display: block;
	position: absolute;
	left: 437px;
	top: 85px;
	font-size: 1.27em;
	color: rgb(108, 163, 255);
	font-weight: 700;
	line-height: 2.8;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	width: 57px;
	height: 57px;
	text-align: center;
	box-sizing: border-box;
	padding-left: 7px;
}

.first-screen__london{
	border-radius: 50%;
	background-color: rgb(68, 102, 201);
	position: absolute;
	left: 462px;
	top: 267px;
	width: 90px;
	height: 90px;
	font-size: 1em;
	letter-spacing: -0.04em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 5.8;
	text-align: center;
}

.first-screen__rio{
	border-radius: 50%;
	background-color: rgb(252, 236, 100);
	position: absolute;
	left: 457px;
	top: 576px;
	width: 55px;
	height: 55px;
	font-size: 1.12em;
	color: rgb(100, 140, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3;
	text-align: center;
}

.first-screen__down{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	padding: 14px 20px;
	margin-top: 32px;
	width: 49px;
	height: 49px;
	box-shadow: 0 9px 28px rgba(0,0,0,0.1);
}

.features{
	margin-top: 31px;
}

.title{
	font-size: 2.25em;
	color: rgb(100, 140, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	line-height: 45px;
}

.subtitle{
	font-size: 0.5em;
	color: rgb(153, 153, 153);
	line-height: 1.2;
	font-weight: 400;
	text-transform: none;
	text-align: center;
}

.features__description{
	margin-top: 118px;
	margin-left: 1px;
	display: inline-block;
}

.features__description>div{
	margin-left: 16px;
	display: inline-block;
	vertical-align: top;
}

.features__description>div>h3{
	font-size: 1.5em;
	color: rgb(53, 56, 84);
	font-weight: bold;
	line-height: 1.5;
}


.features__description>div>p{
	margin-top: 9px;
	width: 278px;
	font-size: 1em;
	color: rgb(174, 174, 174);
	line-height: 1.875;
	text-align: left;
}


.features__description>img{
	margin-top: 6px;
}


.features__parallax{
	margin-left: 18px;
}

.features__colors{
	position: relative;
	left: 19px;
}

.widgets{
	margin-top: 182px;
}

.widgets__left-arrow{
	margin-top: 359px;
	margin-left: 43px;
	float: left;
	transform: rotate(180deg);
}

.widgets__left-arrow:active{
	position: relative;
	left: -3px;
}

.widgets__right-arrow{
	margin-top: 359px;
	margin-right: 47px;
	float: right;

}

.widgets__right-arrow:active{
	position: relative;
	left: 3px;
}

.widgets__images{
	margin-top: 52px;
    margin-left: 136px;
    align-self: center;
	display: inline-block;
	position: relative;
	height: 660px;
}

.widgets__images>img{
	position: absolute;
	box-shadow: 6px 30px 78px rgba(0,0,0,0.12);

}

.widgets__image-left{
	top: 49px;
	left: 0px;
	width: 317px;
}

.widgets__image-center{
	z-index: 1;
	left: 195px
}

.widgets__image-right {
	top: 49px;
	left: 461px;
}

.widgets__images_left-to-center{
	animation: widget__image-left-go-to-center 0.5s 1 linear;
	z-index: 1;
	left: 195px;
	top: 0px;
	width: 370px;
}

.widgets__images_left-to-right{
	animation: widget__image-left-go-to-right 0.5s 1 linear;
	z-index: 0;
	left: 461px;
	top: 49px;
	width: 317px;
}

.widgets__images_right-to-center{
	animation: widget__image-right-go-to-center 0.5s 1 linear;
	z-index: 1;
	left: 195px;
	top: 0px;
	width: 370px;
}

.widgets__images_right-to-left{
	animation: widget__image-right-go-to-left 0.5s 1 linear;
	z-index: 0;
	left: 0px;
	top: 49px;
	width: 317px;
}

.widgets__images_center-to-left{
	animation: widget__image-center-go-to-left 0.5s 1 linear;
	z-index: 0;
	left: 0px;
	top: 49px;
	width: 317px;
}

.widgets__images_center-to-right{
	animation: widget__image-center-go-to-right 0.5s 1 linear;
	z-index: 0;
	left: 461px;
	top: 49px;
	width: 317px;
}

@keyframes widget__image-left-go-to-center{
	from{
		z-index: 0;
		top: 49px;
		left: 0px;
		width: 317px;
	}
	50%{
		z-index: 1;
		left: -50px;
	}
	to{
		z-index: 1;
		left: 195px;
		top: 0px;
		width: 370px;
	}
}

@keyframes widget__image-right-go-to-center{
	from{
		z-index: 0;
		left: 461px;
		top: 49px;
		width: 317px;
	}
	50%{
		z-index: 1;
		left: 511px;
	}
	to{
		z-index: 1;
		left: 195px;
		top: 0px;
		width: 370px;
	}
}

@keyframes widget__image-left-go-to-right{
	from{
		z-index: 0;
		top: 49px;
		left: 0px;
		width: 317px;
	}
	to{
		z-index: 0;
		left: 461px;
		top: 49px;
		width: 317px;
	}
}

@keyframes widget__image-right-go-to-left{
	from{
		z-index: 0;
		left: 461px;
		top: 49px;
		width: 317px;
	}
	to{
		z-index: 0;
		top: 49px;
		left: 0px;
		width: 317px;
	}
}

@keyframes widget__image-center-go-to-left{
	from{
		z-index: 1;
		left: 195px;
		top: 0px;
		width: 370px;
	}
	50%{
		z-index: 1;
		left: -50px;
	}
	to{
		z-index: 0;
		top: 49px;
		left: 0px;
		width: 317px;
	}
}


@keyframes widget__image-center-go-to-right{
	from{
		z-index: 1;
		left: 195px;
		top: 0px;
		width: 370px;
	}
	50%{
		z-index: 1;
		left: 511px;;
	}
	to{
		z-index: 0;
		left: 461px;
		top: 49px;
		width: 317px;
	}
}

@keyframes widget__image-left-go-to-center_medium{
	from{
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}
	50%{
		z-index: 1;
		left: -50px;
	}
	to{
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}
}

@keyframes widget__image-right-go-to-center_medium{
	from{
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}
	50%{
		z-index: 1;
		left: 365px;
	}
	to{
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}
}

@keyframes widget__image-left-go-to-right_medium{
	from{
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}
	to{
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}
}

@keyframes widget__image-right-go-to-left_medium{
	from{
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}
	to{
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}
}

@keyframes widget__image-center-go-to-left_medium{
	from{
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}
	50%{
		z-index: 1;
		left: -50px;
	}
	to{
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}
}


@keyframes widget__image-center-go-to-right_medium{
	from{
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}
	50%{
		z-index: 1;
		left: 365px;
	}
	to{
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}
}

.screenshots{
    margin-top: 131px;
}

.screenshots__screen{
    margin-top: 154px;
	margin-left: 22px;
}

.screenshots__description{
	display: inline-block;
	vertical-align: top;
	margin-left: 64px;
	height: 731px;
}

.screenshots__description_left{
	margin-left: -18px;
}

.screenshots__description>img{
	margin-top: 123px;
}

.screenshots__description>img:nth-child(4){
	margin-top: 37px;
}

.screenshots__description>h3{
	margin-top: 29px;
	font-size: 2.25em;
	color: rgb(100, 140, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.6;
}

.screenshots__description>p{
	margin-top: 15px;
	font-size: 1.525em;
	color: rgb(53, 56, 84);
	line-height: 1.5;
}

.screenshots__phone{
	float: left;
}

.screenshots__phone_right{
	float: right;
	margin-right: 84px;
}

.screenshots__description{
	max-width: 495px;
}



.reviews{
	margin-top: 1px;
}

.reviews>h2{
	margin-bottom: 129px;
}

.reviews__review:nth-child(2n+1){
	margin-left: 37px;
}

.reviews__review{
	display: inline-block;
	margin-left: 1px;
	width: 559px;
	margin-bottom: 133px;
}

.reviews__review>p:nth-child(1){
	font-size: 1.5em;
	color: rgb(53, 56, 84);
	line-height: 1.5;
}

.reviews__review>p:nth-child(2){
	font-size: 1.13em;
	color: rgb(53, 56, 84);
	line-height: 1.2;
	margin-top: 17px;
}

.reviews__review>p:nth-child(1)::before{
	margin-left: -7px;
	margin-bottom: -5px;
	font-size: 6em;
	content: "“";
	display: block;
	color: rgb(100, 140, 255);
	line-height: 0;
}

.reviews__review>p:nth-child(2)::after{
	margin-top: 52px;
	font-size: 8em;
	width: 100%;
	text-align: right;
	content: "”";
	display: block;
	line-height: 0;
	color: rgb(100, 140, 255);
}

.download{
	padding-top: 115px;
	box-sizing: border-box;
	margin-top: -32px;
	background-color: rgb(100, 140, 255);
	background-image: url(download-phone.png);
	background-repeat:no-repeat;
	background-position: center;
	height: 462px;
}

.download__title{
	margin-left: 4px;
	font-size: 2.25em;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.download__description {
	margin-left: 4px;
	margin-top: 36px;
	font-size: 1.12em;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	max-width: 356px;	
}

.download__appstore>img{
	margin-top: 30px;
	margin-left: 3px;
}

.download__google-play>img{
	margin-left: 3px;
}

.footer{
	background-color: rgb(53, 56, 84);
	height: 307px;
	padding-top: 65px;
}

.footer__line {
	background-color: rgb(67, 71, 105);
	margin-top: 63px;
	height: 1px;
	border: none;
}

.footer__rights{
	text-align: right;
	font-size: 1em;
	color: rgb(86, 91, 135);
	line-height: 1.35;
	margin-top: 49px;
}

@media (max-width: 1192px) {
	.width-wrapper{
		max-width: 768px;
	}

	.navigation{
		margin-left: 50px;
	}

	.navigation__li:nth-child(1) {
		margin-right: 10px;
	}

	.navigation__li:nth-child(2) {
		margin-right: 10px;
	}

	.navigation__li:nth-child(3) {
		margin-right: 10px;
	}

	.social-links{
		margin-left: 70px;
	}

	.first-screen{
		top: -200px;
	}

	.first-screen__description{
		margin-top: 370px;
		max-width: 400px;
	}

	.first-screen__description>h2{   
		font-size: 2.76em;
	}

	.first-screen__phone{
		margin-top: 300px;
		margin-left: 14px;
	}

	.first-screen__phone>img{
		margin-left: 16px;
		margin-top: 50px;
		width: 172px;
	}

	.first-screen__sunny{
		margin-top: 205px;
		width: 60px;
		height: 60px;
		font-size: 0.77em;
	}

	.first-screen__london{
		width: 60px;
		height: 60px;
		font-size: 0.77em;
		line-height: 4.8;
		left: 286px;
		top: 208px;
	}

	.first-screen__degree{
		left: 280px;
		line-height: 2.4;
		font-size: 1em;
		width: 40px;
		height: 40px;
	}

	.first-screen__rio{
		left: 281px;
		top: 384px;
		width: 47px;
		height: 47px;
		font-size: 0.99em;
	}

	.features__description{
		margin-top: 50px;
		margin-left: 2px !important;
		left: 0;
	}

	.features__description>div{
		width: 86%;
		margin-left: 1%;
	}

	.features__description>img{
		width: 10%;
	}

	.features__description>div>p{
		width: auto;
	}

	.widgets__left-arrow{
    	margin-left: 0px;
    	margin-top: 248px;
	}

	.widgets__right-arrow{
    	margin-right: 0px;
    	margin-top: 248px;
	}

	.widgets__images{
		margin-left: 94px;
		height: 446px;
	}

	.widgets__image-left{
		top: 33px;
		left: 0px;
		width: 214px;
	}

	.widgets__image-center{
		left: 135px;
		width: 250px;
	}

	.widgets__image-right {
	    width: 214px;
	    top: 33px;
	    left: 315px;
	}

	.widgets__images_left-to-center{
		animation: widget__image-left-go-to-center_medium 0.5s 1 linear;
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}

	.widgets__images_left-to-right{
		animation: widget__image-left-go-to-right_medium 0.5s 1 linear;
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}

	.widgets__images_right-to-center{
		animation: widget__image-right-go-to-center_medium 0.5s 1 linear;
		z-index: 1;
		left: 135px;
		top: 0px;
		width: 250px;
	}

	.widgets__images_right-to-left{
		animation: widget__image-right-go-to-left_medium 0.5s 1 linear;
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}

	.widgets__images_center-to-left{
		animation: widget__image-center-go-to-left_medium 0.5s 1 linear;
		z-index: 0;
		left: 0px;
		top: 33px;
		width: 214px;
	}

	.widgets__images_center-to-right{
		animation: widget__image-center-go-to-right_medium 0.5s 1 linear;
		z-index: 0;
		left: 315px;
		top: 33px;
		width: 214px;
	}


	.screenshots__screen{
		margin-top: 70px;
	}

	.screenshots__description>img{
		margin-top: 0;
	}

	.screenshots__description>p{
		font-size: 1em;
	}

	.screenshots__phone{
		width: 250px;
	}

	.screenshots__description{
		max-width: 432px;
		height: 450px;
	}

	.screenshots__phone_right{
		margin-right: 0;
	}

	.reviews__review:nth-child(2n+1){
		margin-left: 0;
	}

	.reviews__review{
		margin-left: 0px;
		padding: 0px 1%;
		width: 98%;
		margin-bottom: 50px;
	}

}


@media (max-width: 768px) {
	.width-wrapper{
		width: 100%;
	}

	.logo>h1{
		margin-left: 0;
		width: 100%;
		text-align: center;
		display: block;
	}

	.navigation{
		display: none;
	}

	.navigation_mobile{
		margin-left: 0px;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		overflow: auto;
	}

	.navigation_mobile>.navigation__bar{
		display: block;
	}

	.navigation_mobile>ul{
		display: none;
	}

	.navigation__close{
		display: block;
	}

	.navigation_full-page{
		display: block !important;
		width: 100%;
		height: 100%;
		background-color: rgb(100, 140, 255);
	}

	.navigation_full-page>ul{
		display: block !important;
		margin-top: 55px;
	}

	.navigation_full-page>.navigation__close{
		display: block;
	}

	.navigation_full-page>ul>li{
		font-size: 2em;
		display: block;
		width: 137px;
		margin: 10px auto !important;
	}


	.social-links{
		width: 143px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.first-screen{
		top: -1px;
	}


	.first-screen__description{
		margin-top: 50px;
		max-width: 100%;
		width: 100%;
	}

	.first-screen__description>*{
		margin-top: 10px !important;
		width: 98% !important;
		max-width: 400px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
	}

	.first-screen__phone{
		width: 348px;
		margin-top: 20px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


	.widgets__left-arrow, .widgets__right-arrow{
		display: none;
	}

	.widgets__images{
		margin-left: 0;
		width: 100%;
		height: auto;
	}

	.widgets__images>img{
		position: static;
		display: block;
		width: 100%;
		max-width: 350px;
		margin: 5px auto;
	}

	.screenshots__screen{
	    margin-left: 5px;
	}

	.screenshots__phone{
		float: none;
		display: block;
		margin-right: 0 !important;
	}

	.screenshots__description{
		margin-top: 46px;
		margin-left: 0px;
		height: auto;
		max-width: none;
	}

	.screenshots__description>p{
		font-size: 1.525em;
	}

	.footer__rights{
		text-align: center;
	}

}

@media (max-width: 360px) {
	.first-screen__phone{
		width: 100%;
	}

	.first-screen__phone>img{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}


	.first-screen__sunny {
		display: none;
	}

	.first-screen__degree{
		display: none;
	}

	.first-screen__london{
		display: none;
	}

	.first-screen__rio{
		display: none;
	}

	.download{
		padding-top: 50px;
	}

}
