body{
	margin: 0px;
	padding-top: 100px;
}

*{
	box-sizing: border-box;
}

.slider{
	position: relative;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}

.slider__wrapper{
	position: relative;
	/*width: 100%;*/
	font-size: 0px;
}

.slider__slide{
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 1rem;
	/*position: absolute;*/
}

/*.slider__navigation{
	top: 50%;
	width: 100%;
	margin: -13px auto 0px;
	position: absolute;
	padding: 0 10px;
	z-index: 1;
}
*/

.slider__view{
	position: relative;
}

.slider__left, .slider__right{
	border: none;
	background-color: #f3c362;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
	top: 50%;
	margin: -25px 0px 0px;
	position: absolute;
	z-index: 1;
	border-radius: 50%;
}

.slider__right:focus, .slider__left:focus, .slider__dots>button:focus{
	outline: none;
}

.slider__left{
	left: 10px;
}

.slider__right{
	right: 10px;
}

.slider__dots{
	text-align: center;
	margin: 10px 0;
}

.slider__dots>button{
	border: none;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	background-color: #f3c362;
	opacity: 0.5;
	margin: 2px;
}


.content{
	margin: 6px auto;
	background-color: #29C2D5FF;
	padding: 5px 10px;
	max-width: 500px;
	border-radius: 20px;
	box-shadow: 0px 5px 0px 0px rgb(39, 174, 190);
	color: rgba(255,255,255,0.9);
}

.icon-arrow{
	line-height: 60%;
	display: inline-block;
	height: 60%;
	width: 2px;
	margin-right: -10%;
}

.icon-arrow_left{
	transform: rotate(180deg);
	margin-right: 0;
	margin-left: -10%;
}

.icon-arrow::after{
	content: "";
	display: inline-block;
	height: 50%;
	width: 100%;
	background-color: #fff;
	transform: rotate(46deg) translate(-2px, -2px);
}

.icon-arrow::before{
	content: "";
	display: inline-block;
	height: 50%;
	width: 100%;
	background-color: #fff;
	transform: rotate(-46deg) translate(-2px, 2px);
}