.header{
	background-color: #3197d6;
	padding: 25px 45px 44px 30px;
	position: static;
}


.find-tender{
	padding: 20px 45px 33px 23px;

}

.find-tender__title{
	font-size: 24px;
	font-weight: 600;
	color: #1d1d1d;
}

.find-tender__form{
	background-color: #d2e8f6;
	margin: 24px 0px -14px 2px;
	height: 53px;
	height: 53px;
	padding: 6px 10px 6px 0px;
    text-align: center;
}

.find-tender__input{
	border: none;
	padding: 3px 15px 5px;
	background-color: transparent;
	height: 39px;
	width: 90%;
    margin: 2px 1px;
    border-radius: 5px;
    outline:none;
   	transition: border 0.3s, background-color 0.3s;
   	font-size: 15px;
}

.find-tender__input::placeholder {
	opacity: 1;
	color: #1d1d1d;
	transition: color 0.3s;
}

.find-tender__input:focus::placeholder,.find-tender__input:active::placeholder {
	color: transparent;
}

.find-tender__input:active, .find-tender__input:focus{
	border: 1px solid #3197d6;
	background-color: #ffffff;
}

@media (max-width: 1136px) {
	.find-tender__input{
		width: 85%;
	}
}

@media (max-width: 802px){
	.find-tender__input{
		width: 80%
	}
}

@media (max-width: 634px){
	.find-tender__input{
		width: 70%;
	}
	
	.find-tender{
		padding: 20px 14px 36px 10px;
	}
}

@media (max-width: 452px){
	.find-tender__input{
		width: 60%;
	} 
}

.find-tender__submit{
	float: right;
	height: 100%;
	width: 100px;
	border: none;
	background-color: #ef525b;
	color: #ffffff;
	font-size: 15px;
}

.tenders__title{
	font-size: 24px;
	font-weight: 600;
	margin-left: 24px;
	color: #1d1d1d;

}

.tenders__category{
	padding: 4px;
	background-color: #d2e8f6;
	margin-top: 24px;
	border-top: 1px solid #828181;
	border-bottom: 1px solid #828181;
	height: 32px;
	text-align: center;
}


.tenders__container{
	width: 850px;
	margin: 17px auto;
	overflow: hidden;
}

.tenders__item{
	margin-bottom: 23px;
	max-width: 49.4%;
	width: 49.4%;
	display: inline-block;
	padding: 4px 15px;
	vertical-align: top;
	float: left;
}

.tenders__link{
	text-decoration: none;
	border-bottom: 1px dotted #1d1d1d;
	color: #1d1d1d;
	padding-bottom: 2px;
	font-size: 14px;
}

@media (max-width: 950px){
	.tenders__container{
		width: 650px;
	}
}

@media (max-width: 634px){
	.tenders__title{
		margin-left: 12px;
	}
}

@media( max-width: 670px){
	.tenders__container{
		width: 100%;
		max-width: 287px;
	}

	.tenders__item{
		width: 100%;
		max-width: 100%;
	}
}

#navFoot{
	margin: 0px auto;
    width: 86%;
}

#navFoot>ul:nth-child(2){
	display: block;
	margin-bottom: 23px;
} 

#navFoot>ul>li{
	display: inline;
}


.footer{
	background-color: transparent;
}
