.header{
	background-color: #3197d6;
	padding: 25px 45px 44px 30px;
	position: static;
}



.find-tender{
	padding: 20px 45px 36px 23px;

}

.find-tender__title{
	font-size: 24px;
	font-weight: 600;
}

.find-tender__form{
	background-color: #d2e8f6;
	margin: 24px 0px -14px 2px;
	height: 53px;
	height: 53px;
	padding: 6px 10px;
}

.find-tender__input{
	border: none;
	padding: 3px 15px 4px;
	background-color: transparent;
	height: 39px;
	width: 90%;
    margin: 2px 1px;
    border-radius: 5px;
    outline:none;
   	transition: border 0.3s, background-color 0.3s;
   	font-size: 16px;
}

.find-tender__input::placeholder {
	opacity: 1;
	color: #000000;
	transition: color 0.3s;
}

.find-tender__input:focus::placeholder,.find-tender__input:active::placeholder {
	color: transparent;
}

.find-tender__input:active, .find-tender__input:focus{
	border: 1px solid #3197d6;
	background-color: #ffffff;
}

@media (max-width: 1136px) {
	.find-tender__input{
		width: 85%;
	}
}

@media (max-width: 802px){
	.find-tender__input{
		width: 80%
	}
}

@media (max-width: 634px){
	.find-tender__input{
		width: 70%;
	}
	
	.find-tender{
		padding: 20px 14px 36px 10px;
	}
}

@media (max-width: 452px){
	.find-tender__input{
		width: 60%;
	} 
}

.find-tender__submit{
	float: right;
	height: 100%;
	width: 100px;
	border: none;
	background-color: #ef525b;
	color: #ffffff;
	font-size: 16px;
}

