*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	font-size: 13px;
}

ul{
	list-style-type: none
}

a{
	text-decoration: none;
	color: inherit;
}


.width-wrapper{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1184px) {
	.width-wrapper{
		width: 768px;
	}
}

.header {
	position: relative;
	width: 100%;
	z-index: 10;
	height: 100px;
}

.logo{
	display: inline-block;
	vertical-align: top;
	margin-top: 39px;
}

.nav{
	margin-left: 525px;
	margin-top: 29px;
	vertical-align: top;
	display: inline-block;
}

.nav_mobile>button{
	display: none;
}

.nav__bar{
	float: left;
	border: none;
	line-height: 0.9;
	padding: 1px 8px 3px 8px;
	font-size: 3em;
	color: rgb(225, 225, 225);
	font-weight: 700;
	background-color: rgb(100, 140, 255);
}
	
.nav__close{
	display: none;
	width: auto !important;
	float: right;
	background-color: transparent;
	font-size: 4em !important;
	line-height: 0.4;
	border: none;
	color: rgb(255, 255, 255);
	margin-right: 4px;
    margin-top: 7px;
}


.nav__li{
	margin-right: 7px;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.15em;
	color: rgb(63, 66, 68);
	line-height: 1.2;
	vertical-align: bottom;
	text-align: center;
}

.nav__li:nth-child(5){
	margin-right: 0px;
}

.nav__li>a{
	width: 100px;
	height: 45px;
	display: inline-block;
	border-radius: 10px;
	box-sizing: border-box;
	padding-left: 4px;
	padding-top: 16px;
}

.nav__li>a:hover{
	background-image: -moz-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -90deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
	.nav{
		display: none;
	}

	.nav_mobile{
		margin-left: 0px;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
	}

	.nav_mobile>.nav__bar{
		display: block;
	}

	.nav_mobile>ul{
		display: none;
	}

	.nav__close{
		display: block;
	}

	.nav_full-page{
		overflow: auto;
		display: block !important;
		width: 100%;
		height: 100%;
		background-color: rgb(100, 140, 255);
	}

	.nav_full-page>ul{
		display: block !important;
		margin-top: 55px;
	}

	.nav_full-page>.nav__close{
		display: block;
	}

	.nav_full-page>ul>li{
		font-size: 2em;
		display: block;
		width: 137px;
		margin: 10px auto !important;
	}

}

.link{
	padding: 23px 0;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.15em;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	background-image: -moz-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -webkit-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: -ms-linear-gradient( -90deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	width: 250px;
	height: 70px;
	display: block;
}

.home{
	background-image: -moz-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -89.727deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	min-height: 700px;
	overflow: hidden;
}

.home__title{
	margin-top: 257px;
	text-align: center;
	font-weight: 300;
	font-size: 4.57em;
	color: rgb(255, 255, 255);
}

.home__link{
	margin: 51px auto;
}


.services{
	min-height: 527px;
}

.services__service{
	margin-right: 31px;
	margin-left: 8px;
	margin-top: 85px;
	display: inline-block;
	color: rgb(146, 155, 160);
	line-height: 1.2;
	text-align: center;
	width: 257.875px;
	height: 43.875px;
}

.services__service>h2{
	margin-top: 21px;
	margin-bottom: 43px;
	text-transform: uppercase;
	font-size: 15px;
	color: rgb(63, 66, 68);
}

.services__service:nth-child(4){
	margin-right: 0;
}

.services__link{
	margin: 72px auto;
}

.browser{
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center 114.3%;
	background-image: url('browser.png'), -moz-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: url('browser.png'), -webkit-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	background-image: url('browser.png'), -ms-linear-gradient( -82.192deg, rgb(255,108,84) 1%, rgb(255,43,89) 99%);
	min-height: 720px;
}

.description{
	text-align: center;
	color: rgb(255, 255, 255);
	width: 765px;
	margin: 32px auto;
}

.title{
	text-align: center;
	margin-top: 83px;
	font-size: 3.1em;
	font-weight: 400;
	color: rgb(255, 255, 255);
}

.phone>.width-wrapper{
	overflow: hidden;
}

.phone__img{
	margin: 68px 112px 68px 163px;
	float: left;
}

.phone__title{
	color: rgb(63, 66, 68);
	text-align: left;
	margin: 138px 0px 46px;
}

.phone__description{
	font-weight: 300;
	color: rgb(146, 155, 160);
	text-align: left;
	font-size: 1.15em;
}

.phone__link{
	margin-top: 42px;
	display: inline-block;
}

.portfolio{
	overflow: hidden;
	background-image: -moz-linear-gradient( -73.971deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -webkit-linear-gradient( -73.971deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	background-image: -ms-linear-gradient( -73.971deg, rgb(109,255,198) 1%, rgb(63,210,206) 99%);
	min-height: 1300px;
}

.portfolio__select{
	margin: 109px auto 14px;
	max-width: 481px;
}

.portfolio__li{
	font-size: 1.15em;
	display: inline-block;
	font-weight: 700;
	margin-right: 61px;
	cursor: pointer;
	color: rgb(63, 66, 68);
}

.portfolio__select>li:last-child{
	margin-right: 0;
}

.portfolio__li_selected{
	color: rgb(255, 255, 255);
}

.directory{
	padding: 26px 0px;
}

.directory__list{
	overflow: hidden;
	height: 771px;
}

.directory__item{
	display: inline-block;
	background-color: #232e3d;
	width: 370px;
	height: 370px;
	overflow: hidden;
	margin-bottom: 28px;
}

.directory__item:nth-child(3n-2){
	margin-right: 26px;
}

.directory__item:nth-child(3n){
	margin-left: 26px;
}

.directory__item>div:first-child{
	height: 241px;
}

.directory__item>div:last-child{
	background-color: rgb(255, 255, 255);
	height: 129px;
}